repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-json
        exclude: trace-viewer/
      - id: pretty-format-json
        files: .json
        args:
          - --autofix
        exclude: trace-viewer/
      - id: end-of-file-fixer
        exclude: trace-viewer/
      - id: trailing-whitespace
        exclude: trace-viewer/
  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        name: isort (python)
        args: ["--profile", "black", "--filter-files"]
  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black
  - repo: https://github.com/kynan/nbstripout
    rev: 0.4.0
    hooks:
      - id: nbstripout
        files: ".ipynb"